.content-container {
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;

  .image-records-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 20px;
    padding: 10px 200px;

    .image-single-grid {
      position: relative;
      flex: 1 0 22rem;
      cursor: pointer;
      width: auto;
      color: white;

      p {
        justify-self: center;
        align-self: center;
        text-align: center;
        font-size: 20px;
        transition: all 0.3s;
        transform: scale(0.8);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation-name: squiggle;
      }

      .animated {
        animation-duration: 0.5s;
        animation-iteration-count: initial;
        animation-fill-mode: both;
      }

      @keyframes squiggle {
        0%,
        100% {
          transition-time-function: ease-in;
        }

        0% {
          transform: scale(0) translate(0, -100%);
          opacity: 0;
        }
        50% {
          transform: scale(1.1) scaleY(1) translate(0%, 0%);
          opacity: 70;
        }
        100% {
          transform: inherit;
        }
      }

      @for $i from 0 through 50 {
        .image-#{$i} {
          animation-delay: $i * 100ms;
          -moz-animation-delay: $i * 100ms;
          -webkit-animation-delay: $i * 100ms;
        }
      }

      .overlap-des {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: linear-gradient(
          to top,
          transparent,
          rgba($blue-500, 0.5),
          transparent
        );
        color: white;
        transition: all 0.3s;
        opacity: 0;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        .overlap-des {
          opacity: 1;
          p {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    .image-overlay-full {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background: rgba($black, 0.9);
      z-index: 10;
      top: 0;
      overflow: hidden;
      text-align: center;
      padding-top: 20%;
      left: 0;
      img {
        transform: translateY(-20%);
        height: 80%;
      }
    }
  }

  .work-records-container {
    position: relative;
    height: 100%;
    overflow-y: hidden;
    .position {
      font-weight: bold;
      color: $blue-500;
      font-size: 20px;
      margin: 10px 0;
    }

    .company {
      color: $blue-150;
      display: inline-block;
      margin-right: 20px;
      border-right: 2px solid $blue-150;
      padding-right: 20px;
      margin-bottom: 15px;
    }

    .duration {
      display: inline-block;
      color: $blue-150;
    }

    .bullet-points {
      padding: 0 22px;
      margin: 0 0 10px 0;
      line-height: 1.5;
    }

    .img-container {
      background-color: #fff;
      width: 100%;
      height: 200px;
    }
    .work-content-container .right-pane {
      width: 80%;
    }
    .work-content-container .left-pane {
      width: 20%;
    }
    .work-content-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    .right-pane {
      padding-left: 30px;
    }
    .paragraph-content {
      font-size: 25px;
      opacity: 0.2;
      width: 40%;
      &:before {
        content: "\“";
        font-size: 100px;
        position: absolute;

        margin-top: -60px;
        margin-left: -40px;
      }
    }

    .work-wrapper {
      position: relative;
      height: 100%;

      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
    .company-logo img {
      width: 100%;
      object-fit: cover;
    }
  }

  .study-records-container {
    .study-certificate-wrapper {
      min-height: 300px;
      padding: 40px;
      text-align: center;
      .school {
        font-size: 50px;
        margin: 30px 0;
      }
      .major {
        font-size: 25px;
        margin-bottom: 10px;
      }
      .duration {
        font-size: 20px;
        color: $mid-grey;
      }
    }
    .bullet-points {
      width: 100%;
      text-align: center;
      padding: 20px;
      background-color: $red-set;
      color: white;

      a {
        margin-right: 30px;

        &:hover {
          color: white;
          font-weight: 800;
          cursor: pointer;
        }
      }
    }

    .envlop {
      height: 0;
      width: 0;
      border-top: 50px solid $red-set;
      border-left: 500px solid transparent;
      border-right: 500px solid transparent;
      margin: 0 auto;
    }
  }

  .main-page-container {
    height: 100%;
    width: 100%;
    background-color: $main-page-bg;
    overflow: hidden;

    .key-info {
      text-align: center;
      font-size: 25px;
      margin-bottom: 20px;
    }

    .left-pane,
    .right-pane {
      width: 250px;
      display: flex;
      flex-direction: column;
    }
    .middle-pane {
      display: flex;
      flex-direction: column;
    }

    .left-pane > div {
      margin-bottom: 60px;
    }

    .left-pane > div p.title,
    .right-pane > div p.title {
      font-size: 13px;
      color: $main-page-small-text;
      margin-bottom: 10px;
    }

    .pane-container {
      padding: 0 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .right-pane {
      text-align: right;
    }
    .right-pane > div {
      margin-bottom: 20px;
    }

    .right-pane > div p.content {
      font-size: 25px;
    }

    .portfolio-container {
      width: 340px;
      height: 380px;
      border-radius: 200px;
      border: 1px dotted $main-page-small-text;
      position: relative;
    }

    .portfolio-img {
      width: 320px;
      height: 360px;
      background: $main-page-small-text;
      border-radius: 200px;
      overflow: hidden;
      position: absolute;
      margin: 0 auto;
      margin-left: 10px;
      margin-top: 10px;
      img {
        height: 380px;
        margin-left: -80px;
        transform: translateX(50px);
      }
    }

    &.edit-mode {
      background-color: $white;
    }
  }
}

.edit-button {
  position: fixed;
  height: 80px;
  width: 80px;
  background: $edit-button-bg;
  border-radius: 50%;
  margin: 30px;
  bottom: 0;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);

  &:active {
    transform: scale(0.9);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  }
  &:hover {
    cursor: pointer;
    background-color: lighten($edit-button-bg, 10%);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
    transform: rotate(180deg);
  }
}

.work-records-container:hover .work-wrapper {
  transform: rotateY(180deg);
}

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  background-color: #fff;
  width: calc(100% - 200px);
  padding: 30px 40px;
  box-shadow: 0 6px 10px 0 rgb(0 0 0 / 30%);
  border-radius: 6px;
  margin: 0 60px;
  margin-top: 30px;
  height: auto;
  min-height: 250px;
  overflow-y: scroll;
  max-height: 400px;
}

.company-image {
  img {
    width: 100%;
  }
}
